<div class="container">
	<div class="col-md-5 col-xs-12 no_padding">
    <div class="row" id="myrow">
      <%= image_tag("map2.png", :class => "pic_md map") %>
    </div>
  </div>
  <div class="col-md-7 col-xs-12 no_padding_right">
    <div class="mycontainer">
      <div class="col-md-5 col-xs-6 no_padding" id="pic_sm">
        <%= link_to image_tag("room1.jpg", alt: "Room 1", :class => "pic_md"), details_path %>
      </div>
      <div class="col-md-7 col-xs-6" id="desc_sm">
        <h4>Traditional Swiss flat in quiet neighbourhood</h4>
        <p>3 bedroom apartment - private rooms</p>
      </div>
    </div>
    <div class="mycontainer">
      <div class="col-md-5 col-xs-6 no_padding" id="pic_sm">
        <%= image_tag("room2.jpg", :class => "pic_md") %>
      </div>
      <div class="col-md-7 col-xs-6" id="desc_sm">
        <h4>5 bedroom apartment in student building</h4>
        <p>5 bedroom apartment - private rooms</p>
      </div>
    </div>
    <div class="mycontainer">
      <div class="col-md-5 col-xs-6 no_padding" id="pic_sm">
        <%= image_tag("room3.jpg", :class => "pic_md") %>
      </div>
      <div class="col-md-7 col-xs-6" id="desc_sm">
        <h4>Modern house with view to city center</h4>
        <p>2 bedroom apartment - private room</p>
      </div>
    </div>
    <div class="mycontainer">
      <div class="col-md-5 col-xs-6 no_padding" id="pic_sm">
        <%= image_tag("room4.jpg", :class => "pic_md") %>
      </div>
      <div class="col-md-7 col-xs-6" id="desc_sm">
        <h4>Nice apartment with beautiful view of Lake Zurich</h4>
        <p>5 bedroom flat - private bathrooms</p>
      </div>
    </div>
    <div class="mycontainer">
      <div class="col-md-5 col-xs-6 no_padding"  id="pic_sm">
        <%= image_tag("room5.jpg", :class => "pic_md") %>
      </div>
      <div class="col-md-7 col-xs-6" id="desc_sm">
        <h4>Refurbished 4-bedroom apartment in calm neighbourhood</h4>
        <p>4 bedroom apartment - private rooms</p>
      </div>
    </div>
    <div class="mycontainer">
      <div class="col-md-5 col-xs-6 no_padding" id="pic_sm">
        <%= image_tag("room6.jpg", :class => "pic_md") %>
      </div>
      <div class="col-md-7 col-xs-6" id="desc_sm">
        <h4>Cozy apartment near Höngg</h4>
        <p>3 bedroom apartment - private rooms</p>
      </div>
    </div>
  </div>
</div>