<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :username, label: false, placeholder: 'Username', input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>
   <%= f.input :name, label: false, placeholder: 'Name', input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>
  <%= f.input :mail, label: false, placeholder: 'Email', input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>
  <%= f.input :password, label: false, placeholder: 'Password', input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>
  <%= f.input :password_confirmation, label: false, placeholder: 'Confirm password', input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>
  <%= f.submit 'Register', class: 'btn btn-success actions' %>
<% end %>